@charset "UTF-8";

header{
  height: 300px;
}

header>h1{
  line-height: 217px;
  text-align: center;
  color: rgb(250, 246, 173);
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  height: 60px;
  background-color: rgb(250, 246, 173);
}

nav>ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  
}

nav>ul>li{
  float: left;
  width: 25%;
  box-sizing: border-box;
  border-right: 5px solid rgb(249, 248, 248);
}

nav>ul>li>a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(250,246,173);
  color: rgb(17, 17, 16);
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 24px;
}

nav>ul>li>a:hover {
  background-color: rgba(0, 0, 0, 0);
}

nav>ul>li:last-child{border-right: none;}

nav>ul>li>a{
  display: block;
width: 100%;
text-align: center;
line-height: 60px;
}

.breadcrumb{
display: flex;
margin-top: 20px;
margin-bottom: 20px;  
}

.breadcrumb a{
  color: black;
}

<footer>
<div class="container">
<div class="row">
<dl class="col-3"></dl>
<dl class="col-3"></dl>
<dl class="col-3"></dl>