boby{
    margin: 0;
    padding: 0;
 }

 
 header{
    background-color: aquamarine;
 }
 
 .container{
    margin: auto;
    width: 150%;
    max-width: 1140px;
    background-color: aquamarine; 
 }

 header>.container>nav>ul{
    display: flex;
 /*justify-content: space-between; */
 
 }
 header>.container>nav>ul>li{
    margin-right: 30px;
 }
 header>.container>nav>ul>li>a{
    line-height: 60px;
    font-size: 1.2em;
    letter-spacing: 2px;
   }
 
.img-fluid{
    width:100%
}
.row{
    display: flex;
    flex-wrap: wrap; /*換行*/
}
.col-4{
    width: 33.33333%;

}

