@charset "UTF-8";
header {
  height: 300px;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

header > h1 {
  line-height: 217px;
  text-align: center;
  color: #faf6ad;
  font-family: Arial, Helvetica, sans-serif;
}

nav > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav > ul > li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  border-right: 5px solid #f9f8f8;
}

nav > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #faf6ad;
  color: #111110;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 24px;
}

nav > ul > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
}

nav > ul > li:last-child {
  border-right: none;
}

nav > ul > li > a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 60px;
}

.box1:hover {
  background-color: #000;
  color: #fff;
}

.breadcrumb {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumb a {
  color: black;
}

.btn-primary {
  width: 150px;
  height: 40px;
  display: block;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 30px;
  text-align: center;
  cursor: pointer;
  line-height: 40px;
  color: #000;
  background-color: #faf6ad;
  transition: all 0.3s linear;
}

.btn-primary:hover {
  background-color: #000;
  color: #fff;
}

.btn-primary {
  width: 150px;
  height: 40px;
  display: block;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 30px;
  text-align: center;
  cursor: pointer;
  line-height: 40px;
  color: #000;
  background-color: #faf6ad;
  transition: all 0.3s linear;
}

.btn-primary:hover {
  background-color: #000;
  color: #fff;
}

.btn-primary {
  width: 150px;
  height: 40px;
  display: block;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 30px;
  text-align: center;
  cursor: pointer;
  line-height: 40px;
  color: #000;
  background-color: #faf6ad;
  transition: all 0.3s linear;
}

.btn-primary:hover {
  background-color: #000;
  color: #fff;
}

.btn-primary {
  width: 150px;
  height: 40px;
  display: block;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 30px;
  text-align: center;
  cursor: pointer;
  line-height: 40px;
  color: #000;
  background-color: #faf6ad;
  transition: all 0.3s linear;
}

.btn-primary:hover {
  background-color: #000;
  color: #fff;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 10px;
}

.img-circle {
  border-radius: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.col-3 {
  float: left;
  width: calc(100% / 4 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-4 {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-6 {
  width: calc(100% / 2 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-8 {
  width: calc(100% / 1.5 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-9 {
  width: calc(100% / 1.333333 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.new {
  position: relative;
  background-color: aliceblue;
  width: 100%;
  max-width: 384px;
  margin: 60px auto;
  aspect-ratio: 16/9;
}

@media (min-width: 768px) {
  .col-md-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}

@media (min-width: 1200px) {
  .col-lg-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}

@media (min-width: 768px) {
  .order-md-1 {
    order: -1;
  }
}
.new {
  position: relative;
  background-color: aliceblue;
  width: 100%;
  max-width: 384px;
  margin: 60px auto;
  aspect-ratio: 16/9;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.img-circle {
  border-radius: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.title a {
  color: black;
  font-size: 1.5em;
  font-weight: 700;
}

.date {
  color: #bdb3a7;
}

h2 {
  font-size: 2em;
  margin: 40px auto 30px auto;
}

footer {
  background-color: #faf6ad;
  padding: 40px 0 40px 0;
}

dt {
  font-size: 1.2em;
  margin-bottom: 10px;
}

dd {
  margin-bottom: 4px;
}

dd > a {
  color: #0a0a0a;
}

.icon-menu {
  float: right;
  width: 15%;
  background-color: #faf3ad;
  color: black;
  line-height: 40px;
  text-align: center;
}

header > .container > nav {
  width: 100%;
  float: left;
}

header > .container > nav > ul {
  display: block;
}

header > .container > nav > ul > li {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

@media (min-width: 768px){
    header>.container nav
        position:relative;  
    }
    .submenu{
        position: absolute;
        background-color: aquamarine;
        width: 100%;
        left: 0px;
        bottom: 0px;
        top:60px;
    }


@media (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}
.fz-1 {
  font-size: 1em;
}

.fz-2 {
  font-size: 2em;
}

.fz-3 {
  font-size: 3em;
}

.fz-4 {
  font-size: 4em;
}

.fz-5 {
  font-size: 5em;
}

.fz-6 {
  font-size: 6em;
}

.fz-7 {
  font-size: 7em;
}

.fz-8 {
  font-size: 8em;
}

.fz-9 {
  font-size: 9em;
}

.fz-10 {
  font-size: 10em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mb-5 {
  margin-bottom: 5em;
}