@charset "UTF-8";

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 150%;
  background-color: rgb(253, 251, 185);
}

header > .container > nav > ul {
  display: flex;
  /*justify-content: space-between; */
}

header > .container > nav > ul > li {
  margin-right: 30px;
}

header > .container > nav > ul > li > a {
  line-height: 60px;
  font-size: 1.2em;
  letter-spacing: 2px;
}

/* 圖片大小 */ 
div{
  margin: 15px;
  float:left;
}


.img-fluid {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.col-4 {
  width: 33.33333%;
}

/* 頁尾選單 */

/* 頁尾 */
