@charset "UTF-8";

header{
  height: 300px;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

header>h1{
  line-height: 217px;
  text-align: center;
  color: rgb(250, 246, 173);
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  height: 60px;
  background-color: rgb(250, 246, 173);
}

nav>ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  
}

nav>ul>li{
  float: left;
  width: 25%;
  box-sizing: border-box;
  border-right: 5px solid rgb(249, 248, 248);
}

nav>ul>li>a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(250,246,173);
  color: rgb(17, 17, 16);
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 24px;
}

nav>ul>li>a:hover {
  background-color: rgba(0, 0, 0, 0);
}

nav>ul>li:last-child{border-right: none;}

nav>ul>li>a{
  display: block;
width: 100%;
text-align: center;
line-height: 60px;
}

.breadcrumb{
display: flex;
margin-top: 20px;
margin-bottom: 20px;  
}

.breadcrumb a{
  color: black;
}


.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 10px;
}

.img-circle {
  border-radius: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.col-3 {
  width: calc(100% / 4 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-4 {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-6 {
  width: calc(100% / 2 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-8 {
  width: calc(100% / 1.5 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-9 {
  width: calc(100% / 1.333333 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.img-circle {
  border-radius: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.title a {
  color: black;
  font-size: 1.5em;
  font-weight: 700;
}

.date {
  color: #bdb3a7;
}

h2 {
  font-size: 2em;
  margin: 60px auto 30px auto;
}

footer {
  background-color:rgb(250, 246, 173);;
  padding: 40px 0 40px 0;
}

dt {
  font-size: 1.2em;
  margin-bottom: 10px;
}

dd {
  margin-bottom: 4px;
}

dd > a {
  color: rgb(10, 10, 10);
}