boby{
   margin: 0;
   padding: 0;
}

boby{
   margin: 0;
}

header{
   background-color: aquamarine;
}

.container{
   margin: auto;
   width: 90%;
   max-width: 1140px;
   background-color: cadetblue;   
}
header>.container>nav>ul{
   display: flex;
/*justify-content: space-between; */

}
header>.container>nav>ul>li{
   margin-right: 30px;
}
header>.container>nav>ul>li>a{
   line-height: 60px;
  }

